body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #222222;
	font-size: .8em;
}

a {
	text-decoration: none;
}

a:link {
	color: #333333;
}

a:visited {
	color: #444444;
}

a:hover {
	color: #9e9e9e;
}

a:active {
	color: #9e9e9e;
}

div {
	word-wrap: break-word;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

li {
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 5px 10px 10px 10px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1.12em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .75em;
}


input[type='text'], input[type='password'], textarea {
	display: block;
	width: 95%;
	padding: 3px 5px;
	margin: 4px 8px;
}

textarea {
	height: 70px;
	resize: none;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*::selection {
	background-color: #8e44ad;
	color: #ffffff;
}

.bg-red {
	background-color: #f44336;
}

.text-red {
	color: #f44336;
}

.bg-blue {
	background-color: #2196f3;
}

.bg-white {
	background-color: #ffffff;
}

.text-white {
	color: #ffffff;
}

.text-blue {
	color: #2196f3;
}

.rounded {
	border-radius: 50px;
}

.rounded-30 {
	border-radius: 30px;
}

.rounded-20 {
	border-radius: 20px;
}

.rounded-10 {
	border-radius: 10px;
}

.rounded-5 {
	border-radius: 5px;
}

.rounded-2 {
	border-radius: 2px;
}

.padding {
	padding: 10px;
}

.margin {
	margin: 10px;
}

.center-block {
	margin: 0 auto;
}

.center-inline::parent {
	text-align: center;
}

.inline {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.button {
	border: none;
	outline: none;
	display: inline-block;
	padding: 10px 20px;
	background-color: #666666;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	margin: 10px 0 10px 0;
}

.button-red {
	background-color: #f44336;
}

.button-green {
	background-color: #4caf50;
}

.button-blue {
	background-color: #2196f3;
}

.button-hover-red:hover {
	background-color: #f44336 !important;
}

.button-hover-green:hover {
	background-color: #4caf50 !important;
}

.button-hover-blue:hover {
	background-color: #2196f3 !important;
}

.button-hover-black:hover {
	background-color: #242424 !important;
}

.smooth {
	transition: all .1s ease-in-out;
}

.smooth-2 {
	transition: all .2s ease-in-out;
}

.smooth-4 {
	transition: all .4s ease-in-out;
}

.smooth-8 {
	transition: all .8s ease-in-out;
}

.button:hover {
	background-color: crimson;
	color: #ffffff;
}

.shadow {
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.pointer {
	cursor: pointer;
}

.crosshair {
	cursor: crosshair;
}

:focus {
	outline: 0;
}

.clear {
	clear: both;
}